version: "3.8"

### Volumes Setup #############################################
volumes:
  mongo6: {}

services:
  mongo6solo:
    hostname: mongo6solo
    image: mongo:6
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 4G
    environment:
      MONGO_INITDB_ROOT_USERNAME: username
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_ROOT_PASSWORD:-password}
      MONGO_INITDB_DATABASE: "dbname"
    tty: true
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "3"
    volumes:
      - mongo6:/data/db
      - "${MONGODB_BACKUP_LOCATION:-./backup}:/var/www"
    ports:
      - target: 27017
        published: 27018
        protocol: tcp
        mode: host
    command:
      - "--bind_ip_all"
      - "--port"
      - "27017"
      - "--journal"
